*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/runConfigurations.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/copyright/profiles_settings.xml
/.idea/codeStyles/Project.xml
/.idea/jarRepositories.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/caches/
